html {
  font-size: 16px;
}

body {
  background-color: white;
  color: grey;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600%;
}

p {
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: Dodgerblue;
}

a:hover {
  text-decoration: underline;
}

small {
  font-size: 0.8rem;
}

.container {
  display: flex;
}

header {
  font-family: 'Fira Sans', sans-serif;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  padding: 0 1.5rem;
}

.banner {
  background-color: #e6e6e6;
  color: #666666;
  align-items: center;
}

.banner .photolead {
  width: 60%;
  padding: 2rem 1.5rem;
}

.banner .cta {
  width: 30%;
}

.banner .cta p {
  margin: 1.5rem 0;
  font-size: 1.2rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
}

a.button {
  display: block;
  background-color: #666666;
  color: white;
  padding: 0.5rem 0rem;
  text-align: center;
}

.banner .photolead img{
  max-width: 100%;
}

.wordmark {
  text-transform: uppercase;
  color: #b3b3b3;
  align-items: center;
  letter-spacing: 0.1px;
}

.wordmark span {
  color: #666666;
  font-weight: 600;
}

nav a {
  margin-left: 1rem;
  color: #666666;
}

nav a:first-child {
  margin-left: 0
}

.stories .feature {
  width: 60%;
  padding: 2rem 1.5rem;
  border-right: 1px solid #cccccc;
}

.stories .sidebar {
  width: 40%;
  padding-top: 1rem;
}

.stories .feature img {
  max-width: 100%;
  margin-bottom: 2rem;
}

.stories .feature h2 {
  margin-bottom: 1.5rem;
}

.story {
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #cccccc;
  transition: all 0.25s;
}

.story:hover {
  background-color: #e6e6e6;
}

.story:last-child {
  border-bottom: 0;
}

.story img {
  width: 35%;
  margin-right: 1rem;
}

.story .details {
  width: 65%;
}

.story .details p {
  margin-bottom: 0.5rem;
}

.story .details p:last-child {
  margin-bottom: 0;
}

.story h3 {
  margin-bottom: 0.5rem;
}
/* START LEARNING */

.learning {
  padding: 2rem 4.5rem;
  background-color: #e6e6e6;
}

.learning h2 {
  text-align: center;
}

.course {
  background-color: white;
  /* compensate for the margin */
  width: calc(33% - 4rem/3);
  margin-left: 2rem;
  margin-top: 2rem;
}

.courses {
  flex-wrap: wrap;
}

.course:first-child, .course:nth-child(4n+4) {
  margin-left: 0;
}

.course img {
  max-width: 100%;
}
.course .description {
  margin: 1rem 1rem 1.5rem;
}

.caps {
  margin: 0.5rem 0;
  text-transform: uppercase;
}

/* END LEARNING */

/* START THESIS */

.thesis h2 {
  margin: 2rem 0;
  text-align: center;
}

.feature video {
  max-width: 100%;
}

.thesis .feature h3 {
  margin: 1.5rem 0 0.5rem;
}

.thesis .feature {
  padding-top: 0;
  border-right: 0;
}

.thesis .sidebar {
  padding-top: 0;
}
/* END THESIS */

/* START FOOTER */
footer {
  padding: 1rem;  1.5rem;
  border-top: 1px solid #cccccc;
  justify-content: space-between;
  font-size: 0.8rem;
}

footer a {
  margin-left: 1rem;
  color: grey;
}

footer a:first-child {
  margin-left: 0;
}
/* END FOOTER */

/* BEGIN (Desktop) */
.mobile {
  display: none;
}

/* END (Desktop) */

/* BEGIN MOBILE */

@media only screen and (max-width: 740px) {
  .container {
    display: block;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  header.mobile {
    display: flex;
    padding: 0;
  }

  header.mobile a {
    width: 25%;
    text-align: center;
  }

  .banner .photolead {
    padding: 0;
    width: 100%;
  }

  .banner .cta {
    width: auto;
    padding: 2rem 1rem;
  }

  .banner .cta p {
    margin: 2rem 0 1.5rem;
  }

  .stories .sidebar {
    width: auto;
    padding: 1rem 1rem 0;
  }
  .story img {
    width: 100%;
    margin: 0 0 2rem;
  }

  .story {
    padding: 2rem 0;
    border-bottom: 0;
  }

  .story:first-child {
    padding-top: 0;
  }

  .story .details {
    width: auto;
    padding: 0 1rem;
  }

  .course img,
  .course p {
    display: none;
  }

  .learning {
    background-color: white;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }

  .learning h2 {
    margin-bottom: 1rem;
  }

  .course {
    width: auto;
    margin-left: 0;
    margin-top: 0.5rem;
    background: #e6e6e6;
  }

  .course:first-child {
    margin-top: 0;
  }

  .course .description {
    margin: 0;
    padding: 1rem;
  }

  .thesis h3,
  .thesis p,
  .thesis .sidebar {
    display: none;
  }

  .thesis .stories .feature {
    width: 100%;
    padding: 0;
  }

  .thesis h2 {
    margin: 2rem 0 1rem;
  }

}


/* END MOBILE */
